

// thin font
@font-face {
    font-family: ThinFont;
    src: url("../fonts/Blinker-Thin.ttf");
}

// extra light
@font-face {
    font-family: ExtraLightFont;
    src: url("../fonts/Blinker-ExtraLight.ttf");
}

// light
@font-face {
    font-family: LightFont;
    src: url("../fonts/Blinker-Light.ttf");
}

// regular
@font-face {
    font-family: RegularFont;
    src: url("../fonts/Blinker-Regular.ttf");
}

// bold
@font-face {
    font-family: BoldFont;
    src: url("../fonts/Blinker-Bold.ttf");
}

// semi bold
@font-face {
    font-family: SemiBoldFont;
    src: url("../fonts/Blinker-SemiBold.ttf");
}

// extra bold
@font-face {
    font-family: ExtraBoldFont;
    src: url("../fonts/Blinker-ExtraBold.ttf");
}

